/* SVGの背景色 */
#svg-no-hyouji-ryouiki {
    background-color: blueviolet;
}

/* responsive svg */
.content {
    max-width: 400px;
    margin: auto;
}
.svg-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100%;
}
.svg-wrapper svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}